body
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 110%
}


{
    display: flex;
    


}

img
{
    width: 22%;
    height: 22%;
    
}

.footer
{
    display: flex;
    flex-direction: row;
    
}

.footerg
{
    display: flex;
    justify-content:flex-start; 
}

.footerd
{
    display: flex;
    justify-content: flex-end;
}
